@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
}

.hidden {
   display: none;
}

.show {
   display: block;
}

.content {
   padding: 5rem 8rem;
}

form,
.input,
.input-task,
input[type="text"],
table {
   width: 100%;
}

.contenitor {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

h1 {
   margin-bottom: 4rem;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 35px;
   font-weight: 900;
}

.input {
   display: flex;
   margin: 2rem 0 8rem;
}

.input-task {
   margin-right: 0.8rem;
}

button.add,
button.confirm {
   padding: 8px 16px;
   border: solid 1px #43a52a;
   border-radius: 5px;
   background: #43a52a;
   transition: .3s;
   cursor: pointer;
   color: #fff;
}

button.add:hover,
button.confirm:hover {
   background: transparent;
   color: #212121;
}

input[type="text"] {
   padding: 8px 16px;
   border-radius: 5px;
   border: solid 1px #ccc;
}

table {
   border-collapse: collapse;
}

th:first-child {
   text-align: left;
   padding-left: 5px;
}

th,
td {
   border-bottom: 1px solid #ccc;
   padding: 20px 0;
}

th {
   font-size: 18px;
}

td:first-child {
   display: flex;
}

td:first-child input[type="text"] {
   border: none;
   padding-left: 5px;
   font-size: 16px;
   cursor: auto;
}

td:first-child input[type="text"]:focus {
   outline: none;
}

td:not(td:first-child) {
   text-align: center;
}

td.status span {
   padding: 6px 15px;
   border-radius: 15px;
   color: #fff;
   background: #dd6969;
   font-size: 15px;
   font-weight: 300;
}

td.status span select {
   padding: 6px 15px;
   border-radius: 15px;
   font-size: 15px;
   color: #000;
   border: 1px solid #a780d3;
   background: transparent;
}

.button-group button {
   padding: 6px 12px;
   margin: 0 3px;
   border-radius: 5px;
   transition: .3s;
   cursor: pointer;
   background: transparent;
}

button.edit,
button.save {
   color: #fff;
}

button.edit {
   border: solid 1px #4545b1;
   background: #4545b1;
}

button.save {
   border: solid 1px #45b165;
   background: #45b165;
}

button.edit:hover,
button.save:hover {
   background: transparent;
   color: #212121;
}

button.delete {
   border: solid 1px #9c392a;
}

button.delete:hover {
   background: #9c392a;
   color: #fff;
}

.edit-window {
   padding: 2rem;
   position: absolute;
   width: 50%;
   top: 50%;
   z-index: 9;
   background: #fff;
   border-radius: 5px;
   box-shadow: 13px 13px 14px 0px rgba(0,0,0,0.1),10px 10px 15px -3px rgba(0,0,0,0.1);
}

form.edit-form {
   display: flex;
   flex-direction: column;
   position: relative;
}

span .fa-xmark {
   position: absolute;
   right: 0;
   top: 0;
   cursor: pointer;
   transition: .3s;
}

.checked {
   text-decoration: line-through;
}

span .fa-xmark:hover {
   color: #9c392a;
}

.edit-form h3 {
   text-align: center;
   margin: 1rem 0 3.5rem;
}

.edit-form .box {
   display: flex;
   margin-bottom: 2rem;
}

.box select {
   margin-left: 0.8rem;
   border-radius: 5px;
   border: solid 1px #ccc;
   padding: 0 0.2rem;
}

.edit-form button {
   margin: 2rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

